.recaptcha-select-theme {
	
}
.recaptcha-select-theme label {
	display:inline-block;
	margin:1em;
	padding:1em;
	background-color:transparent;
	border-radius:10px;
	max-width:200px;
}
.recaptcha-select-theme input[type="radio"] {
	display:none;
}
.recaptcha-select-theme input[type="radio"]:checked + label {
	background-color:#0074A2;
	color:#fff;
    box-shadow: rgba(0,0,0,.3) 0 0 15px 5px;
}
.recaptcha-select-theme .title {
	display:block;
	font-weight:600;
	text-align:center;
	padding-bottom:0.5em;
}
.recaptcha-select-theme .visual,
.recaptcha-select-theme img {
	width:100%;
	height:auto;
}
.recaptcha-select-theme .visual {
	display:block;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#888;
	color:#fff;
	font-weight:bold;
	padding:1em;
	text-align:center;
	border-radius:10px;
	border:5px dashed #444;
}