@import 'variables/variables';
@import 'mixins/mixins';

$input-border-radius:4px;

.wp-recaptcha-enable {
	.option {
		display:inline-block;
	}
	[type="checkbox"] {
		display:none;
		& + label {
			display:block;
			width:250px;
			border-radius:$input-border-radius;
			float:left;
			margin:0.5em 1em;
			transition: all 0.125s ease-in-out;
			font-weight: bold;
			padding:0.5em;
			background-color:darken($wp-gray-dark,12%);
			color:#fff;
			&:before {
				@include dashicons( $dashicon-unlock );
				margin:0 0.25em;
				transform:scale(1);
				transition: transform 0.25s cubic-bezier(0, 1.8, 1, 1.8);
			}
		}
		&:checked + label {
			background-color:$wp-blue;
//			border-color:$wp-blue;
//			border-style:solid;
//			color:$wp-black;
		    box-shadow: rgba(0,0,0,.5) 0 0 5px 0px;
			&:before {
				content: $dashicon-lock;
				transform:scale(1.5);

			}
		}

	}
}

.radio-group-label {
	display:inline-block;
	margin-right:0.25em;
	margin:0.5em 0;
	padding:7px 14px;
	border:1px solid $wp-gray-dark;
	border-radius:$input-border-radius 0 0 $input-border-radius;
	border-right-width:0;
	font-weight: bold;
	color:#666;
	color:$wp-gray-darker;
}
.radio-group {
	display:inline-block;
	margin-right:1em;
	vertical-align:top;

	.option {
		display:block;
		float:left;
		&:first-of-type {
			label {
//				border-radius:7px 0 0 7px;
//				border-left-width:2px;
			}
		}
		&:last-of-type {
			label {
				border-radius:0 $input-border-radius $input-border-radius 0;
				padding-right:1.5em;
//				border-right-width:2px;
			}
		}
	}
	[type="radio"] {
		display:none;
		& + label {
			display:block;
			//width:250px;
			float:left;
			margin:0.5em 0;
			transition: all 0.125s ease-in-out;
			font-weight: bold;
			padding:7px 14px;
			background-color:darken($wp-gray-dark,12%);//$wp-gray-dark;
			color:#fff;
			border-left:1px solid $wp-gray-dark;
			&:before {
				@include dashicons( $dashicon-no );
				margin:0 0.25em 0 0;
				transform:scale(1);
				transition: transform 0.25s cubic-bezier(0, 1.8, 1, 1.8);
			}
		}
		&:checked + label {
			background-color:$wp-blue;
		    box-shadow: rgba(0,0,0,.5) 0 0 5px 0px;
			border-left-color:$wp-blue;
			&:before {
				color:#fff;
				content: $dashicon-yes;
				transform:scale(1.5);

			}
		}
	}
}



#wp-recaptcha-api-test .spinner {
	display:inline-block;
	float:none;
	vertical-align:middle;
	margin:2em;
}
