.recaptcha-select-language {
	width:100%;
}
.recaptcha-preview-container {
	// width:100%;
	@media only screen and (min-width: 600px) {
		position:relative;
		float:right;
	}
}
.recaptcha-preview {
	//display:none;
//	transform: scale(.5);
	// margin:0 auto;
	// transform-origin:center center;
	// position:absolute;
	margin:1em auto;
	border-radius:4px;
	box-shadow:rgba(0, 0, 0, 0.08) 0px 0px 4px 1px;
	@media only screen and (min-width: 600px) {
		position:absolute;
		bottom:0;
		right:0;
		margin:0;
	}

	background-position:center center;
	background-repeat:no-repeat;
	background-size:100%;
	&[data-size="normal"] {
		width:302px;
		height:76px;
		&[data-theme="light"] {
			background-image:url( inline-image( 'images/grecaptcha-light-normal.png' ));
		}
		&[data-theme="dark"] {
			background-image:url( inline-image( 'images/grecaptcha-dark-normal.png' ));
		}
	}
	&[data-size="compact"] {
		width:158px;
		height:138px;
		&[data-theme="light"] {
			background-image:url( inline-image( 'images/grecaptcha-light-compact.png' ));
		}
		&[data-theme="dark"] {
			background-image:url( inline-image( 'images/grecaptcha-dark-compact.png' ));
		}
	}
}

.radio-horizontal {
	label {
		margin-right:1em;
	}
}

.recaptcha-onoff {
	input[type="checkbox"] {
		display:none;
	}
	label {
		display:block;
		width:250px;
		color:#999;
		border-radius:7px;
		border:2px solid #bbb;
		float:left;
		margin:0.5em 1em;
		transition: all 0.125s ease-in-out;
		.title {
			font-weight:bold;
			display:block;
			padding:0.5em 0.5em 0.5em 2.5em;
		}
		.dashicons-lock {
			position:absolute;
			font-size:1.5em;
			float:left;
			padding:6px;
			color:#bbb;
			transition: all 0.25s cubic-bezier(0, 1.8, 1, 1.8);
		}
	}
	input[type="checkbox"]:checked + label {
		background-color:#fff;
		border-color:#0074A2;
		border-style:solid;
		color:#333;
	    box-shadow: rgba(0,0,0,.5) 0 0 5px 0px;
		.dashicons-lock {
			color:#0074A2;
			font-size:2em;
			padding-left:4px;
			padding-right:8px;
			padding-top:2px;
		}
	}
}

.warning {
	color:red;
}


.recaptcha-explain .loading .spinner {
	display:inline-block;
	float:none;
	vertical-align:middle;
}
